[Desktop Entry]
Name=mamerunner
Name[ast]=mamerunner
Name[bg]=mamerunner
Name[bs]=mamerunner
Name[ca]=mamerunner
Name[ca@valencia]=mamerunner
Name[cs]=mamerunner
Name[da]=mamerunner
Name[de]=mamerunner
Name[el]=mamerunner
Name[en_GB]=mamerunner
Name[eo]=mamerunner
Name[es]=mamerunner
Name[et]=mamerunner
Name[fi]=mamerunner
Name[fr]=mamerunner
Name[ga]=mamerunner
Name[gl]=mamerunner
Name[hu]=mamerunner
Name[it]=mamerunner
Name[ja]=mamerunner
Name[kk]=mamerunner
Name[km]=mamerunner
Name[ko]=mamerunner
Name[lt]=mamerunner
Name[lv]=mamerunner
Name[nb]=mamerunner
Name[nds]=mamerunner
Name[nl]=mamerunner
Name[nn]=mamerunner
Name[pa]=mamerunner
Name[pl]=mamerunner
Name[pt]=mamerunner
Name[pt_BR]=mamerunner
Name[ro]=mamerunner
Name[ru]=mamerunner
Name[sk]=mamerunner
Name[sl]=mamerunner
Name[sq]=mamerunner
Name[sr]=mamerunner
Name[sr@ijekavian]=mamerunner
Name[sr@ijekavianlatin]=mamerunner
Name[sr@latin]=mamerunner
Name[sv]=mamerunner
Name[tr]=mamerunner
Name[ug]=mamerunner
Name[uk]=mamerunner
Name[x-test]=xxmamerunnerxx
Name[zh_CN]=mamerunner
Name[zh_TW]=mamerunner
Comment=mamerunner runner
Comment[ast]=Llanzador pa mamerunner
Comment[bs]=mamerunner izvršilac
Comment[ca]=Llançador de mamerunner
Comment[ca@valencia]=Llançador de mamerunner
Comment[cs]=mamerunner runner
Comment[da]=mamerunner-runner
Comment[de]=mamerunner-Starter
Comment[el]=εκτελεστής mamerunner
Comment[en_GB]=mamerunner runner
Comment[es]=Lanzador para mamerunner
Comment[et]=mamerunner käivitaja
Comment[fi]=mamerunner-suoritusohjelma
Comment[fr]=Lanceur mamerunner
Comment[ga]=Feidhmitheoir mamerunner
Comment[gl]=Executor mamerunner
Comment[hu]=mamerunner futtató
Comment[it]=Esecutore di mamerunner
Comment[ja]=mamerunner runner
Comment[kk]=mamerunner жеккіші
Comment[km]=កម្មវិធី​រត់ mamerunner​
Comment[ko]=mamerunner 실행기
Comment[lt]=mamerunner paleidiklis
Comment[lv]=mamerunner darbinātājs
Comment[nb]=mamerunner-kjører
Comment[nds]=mamerunner-Dreger
Comment[nl]=mamerunner-starter
Comment[nn]=mamerunner-køyrar
Comment[pa]=mamerunner ਰਨਰ
Comment[pl]=Uruchamianie mamerunner
Comment[pt]=Execução do mamerunner
Comment[pt_BR]=Execução do mamerunner
Comment[ro]=Lansator mamerunner
Comment[ru]=Модуль запуска mamerunner
Comment[sk]=mamerunner runner
Comment[sl]=Zaganjalnik mamerunner
Comment[sq]=mamerunner runner
Comment[sr]=mamerunner извођач
Comment[sr@ijekavian]=mamerunner извођач
Comment[sr@ijekavianlatin]=mamerunner izvođač
Comment[sr@latin]=mamerunner izvođač
Comment[sv]=Körning av mamerunner
Comment[tr]=mamerunner çalıştırıcı
Comment[uk]=Засіб запуску mamerunner
Comment[x-test]=xxmamerunner runnerxx
Comment[zh_CN]=mamerunner 启动器
Comment[zh_TW]=mamerunner 執行器
Icon=

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_mamerunner
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=mamerunner
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
